<%- include("../../../partials/dashboard/header.ejs") %> 
<%- include("../../../partials/dashboard/sidebar.ejs") %>

<div class="content-body">

    <!-- Page Headings Start -->
    <div class="row justify-content-between align-items-center mb-10">

        <!-- Page Heading Start -->
        <div class="col-12 col-lg-auto mb-20">
            <div class="page-heading">
                <h3>Admin-Panel <span>/ Dashboard</span></h3>
            </div>
        </div><!-- Page Heading End -->

    </div><!-- Page Headings End -->

    <div class="row">

        <% for(let item of data) { %> 
        <!-- Top Report Start -->
        <div class="col-xlg-3 col-md-6 col-12 mb-30">
            <div class="top-report">

                <!-- Head -->
                <div class="head">
                    <h4><%= item.title %> </h4>
                    <a href=<%= item.url %> class="view"><i class="zmdi zmdi-eye"></i></a>
                </div>

                <!-- Content -->
                <div class="content">
                    <% if(!item.count){ %>
                        <h2>0</h2> 
                    <% }else{ %>
                        <h2><%= item.count %> </h2> 
                    <% } %> 
                </div>

                <!-- Footer -->
                <div class="footer">
                    <div class="progess">
                        <div class="progess-bar" style="width: 100%;"></div>
                    </div>
                </div>

            </div>
        </div><!-- Top Report End -->
        <% } %> 

    </div>

</div>

<%- include("../../../partials/dashboard/footer.ejs") %> 